*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
  --primary-green: #0B5A2B;   /* Deep MCAN green */
  --secondary-green: #1D7A3F; /* Softer green */
  --text-light: #FFFFFF;     /* White text */
  --text-muted: #05e059;     /* Soft grey-green */
  --overlay: rgba(38, 41, 39, 0.65);
  --overlayii: rgba(11, 90, 43, 0.65);
  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Inter', sans-serif;
}
header nav{
  display: flex;
  gap: 25px;
}
header .logo{
  display: flex;
  margin: 20px ;
  width: min(20%, 250px);
}
header .logo h2{
  padding-top:15px; 
  font-size: 35px;
  font-family: var(--heading-font);
}
header .menu{
  padding-top:3rem ;
}
header .menu .menu-icon{
  display: none;
}
header .menu #menu-toggle{
  display: none;
}
header ul{
  list-style: none;
  display: flex;
  gap: 20px;
  font-family: var(--body-font);
  padding-inline: 30px;
  margin-left: 30px;
}
 
header ul li a{
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  transition: border-color 1s;
}
header ul li a:hover{
  border-bottom-color: var(--text-muted);
}
header .build{
  min-height: 50vh;
  background-image: linear-gradient(var(--overlay),var(--overlay)),url(https://i.postimg.cc/4dPNXdcj/pexels-pixpectiv-633410537-34821017.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
header .build h1{
    color: var(--text-light);
    text-align: center;
    font-size: clamp(2rem,5vw,3rem);
    padding-top: 5rem;
}
header .build p{
    text-align: center;
    color: var(--text-light);
    font-size: 20px;
    width: min(90%,900px);
    margin: 20px auto;
}
main{
  margin-top: 30px;
}
main h2{
text-align: center;
font-size: clamp(1rem, 5vw,2rem);
margin-bottom: 20px;
font-family: var(--heading-font);
text-shadow: 2px 2px 2px var(--text-muted);
}
main .section{
  display: flex;
  gap: 2rem;
  margin-left: 10rem;
}
main .section .visii p img{
  border-radius: 17px;
  width: 30rem;
  margin-top: 2rem;
}
main .section .aim{
  margin: 3rem 10px 0px 3rem;
  font-family: var(--body-font);
  color: var(--primary-green);
}
main .section .aim h3{
  text-align: center;
  width: min(90%,400px); 
  margin-bottom: 20px;
  font-size: 3rem;
}
main .section .aim p{
  width: min(100%,500px); 
  font-size: 17px;
}
main .section-ii{
  background-image:linear-gradient(var(--overlay),var(--overlay)), url(https://i.postimg.cc/J7XQqyXD/Whats-App-Image-2025-12-18-at-10-57-23.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--text-light);
  padding-bottom: 10px;
}
main .section-ii h3{
  text-align: center;
  padding-block: 20px;
  font-size: 3rem;
  font-family: var(--heading-font);  
}
main .section-ii p{
border-bottom: 2px solid var(--text-muted);
width: 35%;
font-size: 20px;
font-family: var(--body-font);
margin: auto;
line-height: 2rem;
padding-bottom: 3rem;
}
main .section-ii h2{
  margin-block: 2rem;
}
main .section-ii ul{
  list-style: none;
  width: 35%;
  margin: auto;
  font-size: 22px;
}
main .section-ii h4{
  padding-block: 2rem;
  font-family: var(--heading-font);
  text-shadow: 2px 2px 2px var(--text-muted);
  text-align: center;
  margin-inline: 20px;
  font-size: 35px;
}
main .matter{
  width: min(90%, 500px);
  margin-top: 5rem;
}
main .matter h3{
  text-align: center;
  font-family: var(--heading-font);
  margin-bottom: 20px;
}
main .matter p{
  font-family: var(--body-font);
  line-height: 2rem;
  color: var(--secondary-green);
  font-size: 20px;
}
main .matter ul{
  list-style: none;
  font-family: var(--body-font);
  line-height: 2rem;
  color: var(--secondary-green);
  font-size: 20px;
}
main .visiii p{
  width: 25rem;
  height: 30rem;
  margin-top: 35px;
}
main .section .visiii p img{
  width: 100%;
  height: 100%;
  border-radius: 17px;
}
main .matter .name{
  font-size: 26px;
  margin-top: 20px;
  text-shadow: 2px 2px 2px var(--text-muted);
}
article{
  background-image: linear-gradient(var(--overlayii),var(--overlayii)),
  url(https://i.postimg.cc/6pNy36qj/images.jpg);
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 1rem;
  padding-bottom: 20px;
}
article h2{
  text-align: center;
  color: var(--text-light);
  font-family: var(--heading-font);
  font-size: 2rem;
  text-shadow: 2px 2px 2px var(--text-muted);
  padding: 10px;
}
article .ummah{
  color: var(--text-light);
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
article .bank{
  width: min(90%, 500px);
  border-radius: 17px;
  background: rgba(255,255,255,0.08);
  margin: auto;
  backdrop-filter: blur(16px);
  padding: 2rem;
}
article .bank h3{
  text-align: center;
  border-bottom: 2px solid var(--text-muted);
  color: var(--text-light);
  font-size: 25px;
  padding-bottom: 10px;
  font-family: var(--heading-font);
}
article .bank ul{
  margin-top: 20px;
  font-family: var(--body-font);
  color: var(--text-light);
  font-size:22px;
}
article .bank .ussd{
  background-color: var(--text-light);
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 2px var(--text-muted);
}
article .bank .ussd a{
  text-decoration: none;
  color: var(--secondary-green);
  font-size: 22px;
  font-family: var(--body-font);
  font-weight: 700;
}
.part{
overflow-x:hidden ;
margin-left: 2rem;
}
.part h2{
  text-align: center;
  color: var(--primary-green);
  font-size: 50px;
  margin-block: 20px;
}
.part .partners{  
  display: flex;
  animation: partners 10s linear infinite;
}
.partners img{
  width: 200px;
}
.partners .sponsorsi img{
  padding-top: 2rem;
}
@keyframes partners {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-50%);
  }
  100%{
    transform: translateX(0);
  }
}
footer{
  background-color: var(--secondary-green);
  color: var(--text-light);
}
footer .foot{
  display: flex;
  gap: 10px;
}
footer .logo{
  display: flex;
  gap: 20px;
  margin-left: 3rem;
  margin-top: 20px;
}
footer .logo h2{
  padding-top: 15px;
  font-family: var(--heading-font);
  font-size: 30px;
}
footer .logo img{
  width: 100px;
  height: 100px;
}
footer .more{
  margin-left: 20rem;
  padding-top: 20px;
}
footer .more h2{
  font-family: var(--heading-font);
}
footer .more ul{
  margin-top: 5px;
  list-style: none;
  font-size: 17px;
  font-family: var(--body-font);
}
footer .more ul li{
  margin-top: 10px;
}
footer .more ul a{
  text-decoration: none;
  color: var(--text-light);
}
footer .social{
  margin-left: 10rem;
  padding-top: 20px;
}
footer .social h2{
  font-family: var(--heading-font);
}
footer .social p{
  margin-bottom: 20px;
  font-family: var(--body-font);
}
footer .social a{
  text-decoration: none;
  color:  var(--text-light);
  font-size: 27px;
  padding-right: 20px;
}
footer .copy{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: var(--body-font);
  font-size: 22px;
}
@media (max-width:1030px) {
  body{
    width: 100%;
    overflow-x: hidden;
  }
 header nav .logo{
  width: min(20%, 100px);
}
header .logo h2{ 
  font-size: 25px;
}
header ul{
  gap: 10px;
}
main .section{
  margin-left: 3rem;
}
footer .foot{
  display: flex;
  gap: 2px;
}
footer .logo{
  display: flex;
  gap: 20px;
  margin-left: 3rem;
  margin-top: 20px;
}
footer .logo h2{
  padding-top: 15px;
  font-family: var(--heading-font);
  font-size: 30px;
}
footer .more{
  margin-left: 4rem;
  padding-top: 20px;
}
}
@media (max-width:995px) {
header ul{
  gap: 10px;
  padding-inline: 10px;
}
header ul li{
   overflow: hidden;
   text-overflow: ellipsis;
}
footer .social{
  margin-left: 3rem;
}
}

@media (max-width:600px) {
   body{
    width: 100%;
    overflow-x: hidden;
       }
  header .logo img{
    width: 100px;
    height: 70px;
  }
  header .menu{
    width: 300px;
  }
header .menu .menu-icon{
  display: block;
  font-size: 40px;
  position: relative;
  left: 13rem;
  bottom: 10px;
}
  header .navbar{
  flex-direction: column;
  border-radius: 17px;
  margin-block: 10px;
  padding-block: 20px;
  background-color: var(--text-muted);
  position: absolute;
  right: 10px;
  display: none;
  z-index: 1000;
}
header ul{
  flex-direction: column;
  padding: 0;
  margin: 0;
}
header ul li{
padding: 10px;
}
header ul li a{
   color: var(--text-light);
}
header ul li:hover{
  background-color: var(--secondary-green);
  border-radius: 10px;
}
#menu-toggle:checked + .menu-icon + .navbar{
  display: block;
}
main .section{
  flex-direction: column-reverse;
  margin-left: 0;
  padding-inline: 1rem;
}
main .section .aim{
  margin: 10px;
}
main .section .aim h3{
  font-size: 2rem;
}
main .section .visii p img{
  width: 100%;
  max-width: 35rem;
}
main .visiii p{
  width: 100%;
  max-width: 25rem;
}
main .section-ii h3{
  text-align: center;
  padding-block: 20px;
  font-size: 2rem;
  font-family: var(--heading-font);  
}
main .section-ii p{
width: 95%;
}
main .section-ii ul{
  list-style: none;
  width: 35%;
  margin: auto;
  font-size: 22px;
}
main .matter{
  width: min(95%, 500px);
  margin-top: 20px;
  padding-left: 20px;
}
.part{
margin-left: 1rem;
}
.part .partners{  
  display: flex;
  animation: partners 10s linear infinite;
}
.partners img{
  width: 200px;
}
.partners .sponsorsi img{
  padding-top: 2rem;
}
footer .foot{
  flex-direction: column;
}
footer .logo{
  display: none;
}
footer .more{
  margin-left: 10px;
  padding-top: 20px;
  order: 1;
}
footer .social{
  order: 2;
  margin-left: 10px;
  padding-top: 20px;
}
}
@media (max-width:390px) { 
  body{
    width: 100%;
    overflow-x: hidden;
  }
 header .menu .menu-icon{
  left: 10rem;
}
main .section{
  flex-direction: column-reverse;
  margin-left: 0;
} 
main .section img{
  width: 90%;
  margin-left: 20px;
}
main .visiii p{
  width: 20rem;
}
}